<!-- Nav Bar -->

<div class="grid grid-cols-3">
  <div class="flex items-center">Youtube logo</div>
    <div>
      <div class="flex">
          <input type="search" id="default-search" class=" 
          w-full p-4  text-sm text-gray-900 border h-5 rounded-l-3xl
          border-gray-300  bg-gray-50  dark:placeholder-gray-400 dark:text-white " 
          placeholder="Search" required />
          <button class="text-white  end-2.5 bottom-2.5 focus:outline-none focus:ring-offset-gray-400 font-medium rounded-r-3xl text-sm px-4 py-2 border border-gray-300">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </button>
      </div>
    </div>
  <div class="flex items-center justify-end">
    Account
  </div>
</div>

<div class="flex">
  <!-- sidebar -->
   <div class="block pl-2 w-48">
      <div className="rounded-xl bg-slate-950 hover:bg-gray-700 flex w-48 p-2 m-2 cursor-pointer">
        <div className="pr-2">
            <div class="overflow-x-visible">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" className="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
        </div>  
        <div>
            test
        </div>
    </div>
    <div class="overflow-x-auto">
      <div className="rounded-xl bg-slate-950 hover:bg-gray-700 flex w-48 p-2 m-2 cursor-pointer">
        <div className="pr-2">
            test
        </div>
        <div>
            test
        </div>
      </div>
    </div>
    <div class="overflow-x-auto">
      <div className="rounded-xl bg-slate-950 hover:bg-gray-700 flex w-48 p-2 m-2 cursor-pointer">
        <div className="pr-2">
            test
        </div>
        <div>
            test
        </div>
      </div>
    </div>
    <div class="overflow-x-auto">
      <div className="rounded-xl bg-slate-950 hover:bg-gray-700 flex w-48 p-2 m-2 cursor-pointer">
        <div className="pr-2">
            test
        </div>
        <div>
            test
        </div>
      </div>
    </div>
    <div class="overflow-x-auto">
      <div className="rounded-xl bg-slate-950 hover:bg-gray-700 flex w-48 p-2 m-2 cursor-pointer">
        <div className="pr-2">
            test
        </div>
        <div>
            test
        </div>
      </div>
    </div>
    
   </div>
  
  <!-- content -->
   <div class="">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <div class="p-2 cursor-pointer">
        <img class="rounded-xl" src="../assets/football.jpg" alt="">
        <div class="grid grid-cols-12 pt-2">
          <div class="col-span-1">
            <img class="rounded-full w-20 h-10" src="../assets/thumb.jpg" alt="">
          </div>
          <div class="col-span-11 pl-4">
            <div>
              Pau Prim Vs Real Madrid
            </div>
            <div class="text-gray-500 text-base">
              XDComps
            </div>
            <div class="text-gray-500 text-base">
              3k views * 5 hours ago
            </div>
          </div>
        </div>
      </div>
      <div class="p-2 cursor-pointer">
        <img class="rounded-xl" src="../assets/football.jpg" alt="">
        <div class="grid grid-cols-12 pt-2">
          <div class="col-span-1">
            <img class="rounded-full w-20 h-10" src="../assets/thumb.jpg" alt="">
          </div>
          <div class="col-span-11 pl-4">
            <div>
              Pau Prim Vs Real Madrid
            </div>
            <div class="text-gray-500 text-base">
              XDComps
            </div>
            <div class="text-gray-500 text-base">
              3k views * 5 hours ago
            </div>
          </div>
        </div>
      </div>
    
      <div class="p-2 cursor-pointer">
        <img class="rounded-xl" src="../assets/football.jpg" alt="">
        <div class="grid grid-cols-12 pt-2">
          <div class="col-span-1">
            <img class="rounded-full w-20 h-10" src="../assets/thumb.jpg" alt="">
          </div>
          <div class="col-span-11 pl-4">
            <div>
              Pau Prim Vs Real Madrid
            </div>
            <div class="text-gray-500 text-base">
              XDComps
            </div>
            <div class="text-gray-500 text-base">
              3k views * 5 hours ago
            </div>
          </div>
        </div>
      </div>
    
      <div class="p-2 cursor-pointer">
        <img class="rounded-xl" src="../assets/football.jpg" alt="">
        <div class="grid grid-cols-12 pt-2">
          <div class="col-span-1">
            <img class="rounded-full w-20 h-10" src="../assets/thumb.jpg" alt="">
          </div>
          <div class="col-span-11 pl-4">
            <div>
              Pau Prim Vs Real Madrid
            </div>
            <div class="text-gray-500 text-base">
              XDComps
            </div>
            <div class="text-gray-500 text-base">
              3k views * 5 hours ago
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</div>